# dependencies
/node_modules

# typescript
*.tsbuildinfo

# fumadocs
.source

# editor
.vscode

# testing
/coverage

# next.js
/.next/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# environment
*.env*

# below are safe to commit: https://nextjs.org/docs/basic-features/environment-variables
!.env
!.env.development
!.env.production
!.env.test
!.env.local.template
